<div class="list-group">
  <div *ngFor="let restaurant of restaurants | async" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <div>
        <h4 class="mb-1">{{restaurant.name}}</h4>
        <small>A decent place to eat.</small>
      </div>
      <div>
        <h5>Group rating: <span class="badge badge-pill badge-info">4.5</span></h5>
        <h5>Your rating: <span class="badge badge-pill badge-default">4.0</span></h5>
      </div>
    </div>
  </div>
</div>